In [1]:
#  total duration every week, SD duration, SD position, SD viewers, total viewers, max position, min position, 

import pandas as pd
from datetime import datetime

platform = 'bongacams'

# is room_count on myfreecams viewers? where did the bongacams viewers go?
var_viewers = {'bongacams':True,'chaturbate':True,'ebonycams':False,'livejasmin':False,'myfreecams':True,'streamate':False}

sfile = 'sessions_' + platform + '.csv'
pfile = 'performerlist/performerlist_' + platform + '.csv'

In [2]:
sdf = pd.read_csv(sfile)

sdf

,id,name,start,start_position,start_position_norm,positions,positions_norm,days_active,end,end_position,end_position_norm,duration,average_position,average_position_norm,variance_position,variance_position_norm,max_position,max_position_norm,min_position,min_position_norm
0,0,AprilRiley,2021-11-03 20:00:01,1,0.000482,"[1, 78, 101, 109, 136, 136, 79, 193, 137, 133,...","[0.00048192771084337347, 0.02561576354679803, ...",36,2021-11-04 02:30:01,88,0.032653,390,96,0.049590,2484,0.002381,193,0.212544,1,0.000482
1,1,AprilRiley,2021-11-04 15:30:01,45,0.018065,"[45, 607, 1453, 137, 41, 70, 33, 40, 135, 129,...","[0.018065034122842234, 0.1951141112182578, 0.5...",36,2021-11-05 02:30:01,45,0.020179,660,246,0.089258,163745,0.021727,1489,0.591612,33,0.013721
2,2,AprilRiley,2021-11-05 21:00:01,1776,0.580962,[1776],[0.5809617271835132],36,2021-11-05 21:00:01,1776,0.580962,0,1776,0.580962,0,0.000000,1776,0.580962,1776,0.580962
3,3,AprilRiley,2021-11-06 04:30:02,1357,0.463932,[1357],[0.4639316239316239],36,2021-11-06 04:30:02,1357,0.463932,0,1357,0.463932,0,0.000000,1357,0.463932,1357,0.463932
4,4,AprilRiley,2021-11-06 12:30:01,1182,0.541209,[1182],[0.5412087912087912],36,2021-11-06 12:30:01,1182,0.541209,0,1182,0.541209,0,0.000000,1182,0.541209,1182,0.541209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2369547,2369547,EleanorGraham,2022-01-16 22:30:01,222,0.884462,"[222, 226]","[0.8844621513944223, 0.900398406374502]",1,2022-01-16 23:30:01,226,0.900398,60,224,0.892430,4,0.000063,226,0.900398,222,0.884462
2369548,2369548,LeonoraEllie,2022-01-16 22:30:01,248,0.988048,[248],[0.9880478087649402],1,2022-01-16 22:30:01,248,0.988048,0,248,0.988048,0,0.000000,248,0.988048,248,0.988048
2369549,2369549,LizaandJeff,2022-01-16 23:00:01,194,0.772908,[194],[0.7729083665338645],1,2022-01-16 23:00:01,194,0.772908,0,194,0.772908,0,0.000000,194,0.772908,194,0.772908
2369550,2369550,RebecaMayer,2022-01-16 23:30:01,201,0.800797,[201],[0.8007968127490039],1,2022-01-16 23:30:01,201,0.800797,0,201,0.800797,0,0.000000,201,0.800797,201,0.800797
2369551,2369551,JessicaCavalli,2022-01-16 23:30:01,246,0.980080,[246],[0.9800796812749004],1,2022-01-16 23:30:01,246,0.980080,0,246,0.980080,0,0.000000,246,0.980080,246,0.980080

In [3]:
sdf['start'] = pd.to_datetime(sdf['start'])

pd.DatetimeIndex(sdf['start']).year

Int64Index([2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021,
            ...
            2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022],
           dtype='int64', name='start', length=2369552)

In [4]:
# generating new columns based on the sessions file
if(var_viewers[platform]):
    nsdf = sdf.groupby('name')['duration','average_viewers','average_position','average_position_norm','days_active'].agg({'duration':['count','sum','mean','std'],'average_viewers':['sum','mean','std','min','max'],'average_position':['mean','std','min','max'],'average_position_norm':['mean','std','min','max'],'days_active':['mean']})
else:
    nsdf = sdf.groupby('name')['duration','average_position','average_position_norm','days_active'].agg({'duration':['count','sum','mean','std'],'average_position':['mean','std','min','max'],'average_position_norm':['mean','std','min','max'],'days_active':['mean']})

# flattening and renaming columns
nsdf = pd.DataFrame(nsdf.to_records())
nsdf.rename(columns = {"('duration', 'count')":'count_sessions',"('duration', 'sum')":'sum_duration',"('duration', 'mean')":'mean_duration',"('duration', 'std')":'std_duration',
                       "('average_position', 'mean')":'mean_position',"('average_position', 'std')":'std_position',"('average_position', 'min')":'min_position',"('average_position', 'max')":'max_position',
                       "('average_position_norm', 'mean')":'mean_position_norm',"('average_position_norm', 'std')":'std_position_norm',"('average_position_norm', 'min')":'min_position_norm',"('average_position_norm', 'max')":'max_position_norm',
                       "('days_active', 'mean')":'days_active'}, inplace = True)
if(var_viewers[platform]):
    nsdf.rename(columns = {"('average_viewers', 'sum')":'sum_viewers',"('average_viewers', 'mean')":'mean_viewers',"('average_viewers', 'std')":'std_viewers',"('average_viewers', 'min')":'min_viewers',"('average_viewers', 'max')":'max_viewers'}, inplace = True)
    
    

nsdf.to_csv('sessions_stats_' + platform + '.csv',index=False)

nsdf

/var/folders/q0/b3352dlj4bqfjpq0w4_ln9sr0000gn/T/ipykernel_23523/2218680403.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  nsdf = sdf.groupby('name')['duration','average_position','average_position_norm','days_active'].agg({'duration':['count','sum','mean','std'],'average_position':['mean','std','min','max'],'average_position_norm':['mean','std','min','max'],'days_active':['mean']})

,name,count_sessions,sum_duration,mean_duration,std_duration,mean_position,std_position,min_position,max_position,mean_position_norm,std_position_norm,min_position_norm,max_position_norm,days_active
0,02efde96-04f3-532f-8209-16d1c4b3305d,59,1710,28.983051,57.884990,4452.288136,2633.797573,197,11688,0.475669,0.268257,0.019050,0.990735,12.0
1,0e298f8a-dc73-5742-9922-def5d9c4633a,59,1200,20.338983,32.693250,4548.661017,3319.391919,253,12868,0.464385,0.302046,0.022640,0.993945,12.0
2,1DiamondAngeLJx,14,510,36.428571,44.307864,3151.928571,2640.292946,342,7954,0.559294,0.183411,0.024633,0.752611,6.0
3,921acce5-49ad-58b2-b0a1-76d8ec6df329,60,1530,25.500000,59.187292,4552.150000,2261.430115,378,10816,0.484239,0.211066,0.051490,0.983273,12.0
4,ABabygurl,69,1650,23.913043,53.611275,4559.768116,3277.360910,245,12936,0.452357,0.296785,0.024603,0.971942,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32173,ybyun,121,1800,14.876033,41.192955,3583.884298,2695.693053,224,12369,0.555624,0.285165,0.016153,0.992819,35.0
32174,yoyoMady,19,600,31.578947,40.587787,4591.947368,3894.425553,13,12165,0.550605,0.246172,0.000977,0.972422,13.0
32175,zaraCharlotte,16,30,1.875000,7.500000,2413.875000,337.884176,1872,3037,0.933285,0.045060,0.842909,0.989573,7.0
32176,zaranlou,137,2700,19.708029,34.212605,3587.671533,2783.886022,70,13680,0.569819,0.287938,0.005277,0.992225,35.0
32177,zarquita,144,2310,16.041667,35.106606,3755.611111,2810.763583,181,12760,0.606038,0.295233,0.019031,0.990480,35.0

In [5]:
pdf = pd.read_csv(pfile)

pdf

,name,times_online,weeks_online,calendar_weeks_online,counted,has_been_promoted,url,rank_average,rank_total,minutes_online_average,minutes_online_total,time_online_last_time
0,CourtneyLou,281,11,"44,45,46,47,48,49,50,51,52,1,2",660,True,https://www.livejasmin.com/en/en/chat-html5/Co...,2126.421212,1403438,39.181495,11010.066667,2022-01-16 23:00:01
1,DeniseSkylar,217,11,"44,45,46,47,48,49,50,51,52,1,2",577,True,https://www.livejasmin.com/en/en/chat-html5/De...,1542.162912,889828,48.520737,10529.916667,2022-01-16 01:00:01
2,JessicaFlory,360,11,"44,45,46,47,48,49,50,51,52,1,2",1216,True,https://www.livejasmin.com/en/en/chat-html5/Je...,1554.127467,1889819,67.580556,24329.983333,2022-01-16 23:30:01
3,AyanaSmith,186,10,"44,45,46,47,49,50,51,52,1,2",610,True,https://www.livejasmin.com/en/en/chat-html5/Ay...,951.422951,580368,67.741935,12600.050000,2022-01-16 14:00:01
4,RianaRoss,119,9,"44,45,46,47,49,50,51,1,2",428,True,https://www.livejasmin.com/en/en/chat-html5/Ri...,1454.848131,622675,75.882353,9030.000000,2022-01-13 09:30:01
...,...,...,...,...,...,...,...,...,...,...,...,...
32173,EleanorGraham,2,1,2,2,True,https://www.livejasmin.com/en/en/chat-html5/El...,224.000000,448,0.000000,0.000000,2022-01-16 23:30:01
32174,LeonoraEllie,1,1,2,1,False,https://www.livejasmin.com/en/en/chat-html5/Le...,248.000000,248,0.000000,0.000000,2022-01-16 22:30:01
32175,LizaandJeff,1,1,2,1,False,https://www.livejasmin.com/en/en/chat-html5/Li...,194.000000,194,0.000000,0.000000,2022-01-16 23:00:01
32176,RebecaMayer,1,1,2,1,True,https://www.livejasmin.com/en/en/chat-html5/Re...,201.000000,201,0.000000,0.000000,2022-01-16 23:30:01
32177,JessicaCavalli,1,1,2,1,True,https://www.livejasmin.com/en/en/chat-html5/Je...,246.000000,246,0.000000,0.000000,2022-01-16 23:30:01

In [6]:
#pdf.set_index('name').join(nsdf.set_index('name')).to_csv('performerlist_fused.csv',index=False)
pdf.join(nsdf.set_index('name'), on='name').to_csv('performerlist_fused_' + platform + '.csv',index=False)